* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}

/* HEADER */
.banner {
    background-color: white;
    height: 100px;
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
}
.corpo {
    background-color: white;
    height: auto;
}
.tasto {
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border: solid;
}

.task {
    color: white;
    background-color: lightskyblue;
}

.section {
    color: lightgrey;
    background-color: white;
}

/* ELEMENTI DELLA LISTA */
/* New Task, Today, Upcoming */
.insieme {
    font-size: 25px;
}
/* Check e Uncheck */
.done {
    display: inline-block;
    text-align: center;
    /* padding: 5px; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
}
.check {
    color: green;
}
.uncheck {
    color: red;
}
/* Tema degli elementi */
.tema {
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
}

.editorial {
    background-color: blue;
}

.goals {
    background-color: purple;
}

.recruiting {
    background-color: green;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: pink;
}

.sales{
    background-color: lightgreen;
}